body{
    background-color: black;
}

p{
    color: antiquewhite;
}

.card-body a{
    text-decoration: underline;
    color: black;
}
.card-body a:hover{
    color: grey
}

.hidden{
    opacity: 0;
    transition: all 2s;
 }
 .show{
    opacity: 1;
 }
 